<!DOCTYPE html>
<html lang="en">
<head>
  @* <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - App.Web.Mvc</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/App.Web.Mvc.styles.css" asp-append-version="true" />*@

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Revolve - Personal Magazine blog Template</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Favicon-->
  <link rel="stylesheet"  href="@Url.Content("~/images/favicon.ico")" />
  <!-- THEME CSS
  ================================================== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="@Url.Content("~/plugins/bootstrap/css/bootstrap.min.css")" />
  <!-- Themify -->
  <link rel="stylesheet" href="@Url.Content("~/plugins/themify/css/themify-icons.css")" />
  <link rel="stylesheet" href="@Url.Content("~/plugins/slick-carousel/slick-theme.css")" />
  <link rel="stylesheet" href="@Url.Content("~/plugins/slick-carousel/slick.css")" />
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="@Url.Content("~/plugins/owl-carousel/owl.carousel.min.css")" />
  <link rel="stylesheet" href="@Url.Content("~/plugins/owl-carousel/owl.theme.default.min.css")" />
  <link rel="stylesheet" href="@Url.Content("~/plugins/magnific-popup/magnific-popup.css")" />

  <!-- manin stylesheet -->
  <link rel="stylesheet" href="@Url.Content("~/css/style.css")" />
</head>
<body>
  <partial name="_Header" />
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <partial name="_Footer" />

  @* <footer class="border-top footer text-muted">
  <div class="container">
  &copy; 2023 - App.Web.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
  </div>
  </footer>*@
  @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>*@
  <!-- THEME JAVASCRIPT FILES
  ================================================== -->
  <!-- initialize jQuery Library -->
  <script src="@Url.Content("~/plugins/jquery/jquery.js")"></script>
  <!-- Bootstrap jQuery -->
  <script src="@Url.Content("~/plugins/bootstrap/js/bootstrap.min.js")"></script>
  <script src="@Url.Content("~/plugins/bootstrap/js/popper.min.js")"></script>
  <!-- Owl caeousel -->
  <script src="@Url.Content("~/plugins/owl-carousel/owl.carousel.min.js")"></script>
  <script src="@Url.Content("~/plugins/slick-carousel/slick.min.js")"></script>
  <script src="@Url.Content("~/plugins/magnific-popup/magnific-popup.js")"></script>
  <!-- Instagram Feed Js -->
  <script src="@Url.Content("~/plugins/instafeed-js/instafeed.min.js")"></script>
  <!-- Google Map -->
  <script src="@Url.Content("~/maps/api/js_key_AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw.js")"></script>
  <script src="@Url.Content("~/plugins/google-map/gmap.js")"></script>
  <!-- main js -->

  <script src="@Url.Content("~/js/custom.js")"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
