<div class="header-logo py-5 d-none d-lg-block">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="/images/logo.png" alt="" class="img-fluid w-100"></a>
			</div>
		</div>
	</div>
</div>
<header class="header-top bg-grey justify-content-center">
	<nav class="navbar navbar-expand-lg navigation">
		<div class="container">
			<a class="navbar-brand d-lg-none" href="@Url.Action("Index","Home")"><img src="/images/logo.png" alt="" class="img-fluid"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="ti-menu"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarContent">
				<ul id="menu" class="menu navbar-nav ">
					<li class="nav-item dropdown  pl-0">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Home
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="@Url.Action("Index",  "Home")">Home 1</a>
							<a class="dropdown-item" href="@Url.Action("Index2", "Home")">Home 2</a>
							<a class="dropdown-item" href="@Url.Action("Index3", "Home")">Home 3</a>
							<a class="dropdown-item" href="@Url.Action("Index4", "Home")">Home 4</a>
							<a class="dropdown-item" href="@Url.Action("Index5", "Home")">Home 5</a>
							<a class="dropdown-item" href="@Url.Action("Index6", "Home")">Home 6</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Blog Posts
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown2">
							<a class="dropdown-item" href="@Url.Action("FullWidth", "UserBlogPost")">Standard Fullwidth</a>
							<a class="dropdown-item" href="@Url.Action("LeftSide", "UserBlogPost")">Standard Left Sidebar</a>
							<a class="dropdown-item" href="@Url.Action("RightSide", "UserBlogPost")">Standard Right Sidebar</a>
						</div>
					</li>
					<li class="nav-item"><a href="@Url.Action("Detail", "UserPage")" class="nav-link">About</a></li>
					<li class="nav-item"><a href="@Url.Action("Index","UserCategory")" class="nav-link">Category</a></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Post Formats
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown3">
							<a class="dropdown-item" href="@Url.Action("Video", "UserPost")">Video Formats</a>
							<a class="dropdown-item" href="@Url.Action("Audio", "UserPost")">Audio Format</a>
							<a class="dropdown-item" href="@Url.Action("Quote", "UserPost")">Quote Format</a>
							<a class="dropdown-item" href="@Url.Action("Gallery", "UserPost")">Gallery Format</a>
							<a class="dropdown-item" href="@Url.Action("Image", "UserPost")">Image Format</a>
						</div>
					</li>
					<li class="nav-item"><a href="@Url.Action("Login","UserAuth")" class="nav-link">Login </a></li>
					<li class="nav-item d-lg-none">
						<div class="search_toggle p-3 d-inline-block bg-white"><i class="ti-search"></i></div>
					</li>
				</ul>
			</div>
			<div class="text-right search d-none d-lg-block">
				<div class="search_toggle"><i class="ti-search"></i></div>
			</div>
		</div>
	</nav>

</header>
