@{
	Layout = null;
}
<html lang="en">
	<partial name="_head" />

<body>
	<header class="header-top bg-grey justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-4 text-center d-none d-lg-block">
					<a class="navbar-brand " href="@Url.Action("Index","Home")">
						<img src="/images/logo.png" alt="" class="img-fluid">
					</a>
				</div>
				<div class="col-lg-8 col-md-12">
					<nav class="navbar navbar-expand-lg navigation-2 navigation">
						<a class="navbar-brand text-uppercase d-lg-none" href="#">
							<img src="/images/logo.png" alt="" class="img-fluid">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
							<span class="ti-menu"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbar-collapse">
							<ul id="menu" class="menu navbar-nav mx-auto">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Home
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="@Url.Action("Index",  "Home")">Home 1</a>
										<a class="dropdown-item" href="@Url.Action("Index2", "Home")">Home 2</a>
										<a class="dropdown-item" href="@Url.Action("Index3", "Home")">Home 3</a>
										<a class="dropdown-item" href="@Url.Action("Index4", "Home")">Home 4</a>
										<a class="dropdown-item" href="@Url.Action("Index5", "Home")">Home 5</a>
										<a class="dropdown-item" href="@Url.Action("Index6", "Home")">Home 6</a>
									</div>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Blog Posts
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown2">
										<a class="dropdown-item" href="@Url.Action("FullWidth", "UserBlogPost")">Standard Fullwidth</a>
										<a class="dropdown-item" href="@Url.Action("LeftSide", "UserBlogPost")">Standard Left Sidebar</a>
										<a class="dropdown-item" href="@Url.Action("RightSide", "UserBlogPost")">Standard Right Sidebar</a>
									</div>
								</li>
								<li class="nav-item"><a href="@Url.Action("Detail", "UserPage")" class="nav-link">About</a></li>
								<li class="nav-item"><a href="@Url.Action("Index","UserCategory")" class="nav-link">Category</a></li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Post Format
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown3">
										<a class="dropdown-item" href="@Url.Action("Video", "UserPost")">Video Formats</a>
										<a class="dropdown-item" href="@Url.Action("Audio", "UserPost")">Audio Format</a>
										<a class="dropdown-item" href="@Url.Action("Quote", "UserPost")">Quote Format</a>
										<a class="dropdown-item" href="@Url.Action("Gallery", "UserPost")">Gallery Format</a>
										<a class="dropdown-item" href="@Url.Action("Image", "UserPost")">Image Format</a>
									</div>
								</li>
								<li class="nav-item"><a href="@Url.Action("Login","UserAuth")" class="nav-link">Giriş Yap </a></li>
							</ul>
							<ul class="list-inline mb-0 d-block d-lg-none">
								<li class="list-inline-item"><a href="https://tr-tr.facebook.com/"><i class="ti-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://twitter.com/i/flow/login?redirect_after_login=%2Flogin%3Flang%3Dtr"><i class="ti-twitter"></i></a></li>
								<li class="list-inline-item"><a href="https://www.linkedin.com/in/mehmet-%C3%A7%C4%B1nar-aa959325a/"><i class="ti-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="https://tr.pinterest.com/"><i class="ti-pinterest"></i></a></li>
							</ul>
						</div>
					</nav>
				</div>
				<div class="col-lg-2 col-md-4 col-6">
					<div class="header-socials-2 text-right d-none d-lg-block">
						<ul class="list-inline mb-0">
							<li class="list-inline-item"><a href="https://tr-tr.facebook.com/"><i class="ti-facebook"></i></a></li>
							<li class="list-inline-item"><a href="https://twitter.com/i/flow/login?redirect_after_login=%2Flogin%3Flang%3Dtr"><i class="ti-twitter"></i></a></li>
							<li class="list-inline-item"><a href="https://www.linkedin.com/in/mehmet-%C3%A7%C4%B1nar-aa959325a/"><i class="ti-linkedin"></i></a></li>
							<li class="list-inline-item"><a href="https://tr.pinterest.com/"><i class="ti-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="slider mt-4">
		<div class="container-fluid">
			<div class="row no-gutters">
				<div class="col-lg-12 col-sm-12 col-md-12 slider-wrap">
					<div class="slider-item">
						<div class="slider-item-content">
							<div class="post-thumb mb-4">
								<a href="@Url.Action("Detail","UserBlog")">
									<img src="images/slider/slider1.jpg" alt="" class="img-fluid">
								</a>
							</div>
							<div class="slider-post-content">
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Lifestyle</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")">Tips for Taking a Long-term Trip</a></h3>
								<span class=" text-muted  text-capitalize">January 2, 2019</span>
							</div>
						</div>
					</div>
					<div class="slider-item">
						<div class="slider-item-content">
							<div class="post-thumb mb-4">
								<a href="@Url.Action("Detail","UserBlog")">
									<img src="images/slider/slider2.jpg" alt="" class="img-fluid">
								</a>
							</div>
							<div class="slider-post-content">
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")">Trip to California</a></h3>
								<span class=" text-muted  text-capitalize">September 15, 2019</span>
							</div>
						</div>
					</div>
					<div class="slider-item">
						<div class="slider-item-content">
							<div class="post-thumb mb-4">
								<a href="@Url.Action("Detail","UserBlog")">
									<img src="images/slider/slider3.jpg" alt="" class="img-fluid">
								</a>
							</div>
							<div class="slider-post-content">
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">weekends</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")">Our Favorite Weekend Getaways</a></h3>
								<span class=" text-muted  text-capitalize">June 12, 2019</span>
							</div>
						</div>
					</div>
					<div class="slider-item">
						<div class="slider-item-content">
							<div class="post-thumb mb-4">
								<a href="@Url.Action("Detail","UserBlog")">
									<img src="images/slider/slider2.jpg" alt="" class="img-fluid">
								</a>
							</div>
							<div class="slider-post-content">
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")">Trip to California</a></h3>
								<span class=" text-muted  text-capitalize">September 15, 2019</span>
							</div>
						</div>
					</div>
					<div class="slider-item">
						<div class="slider-item-content">
							<div class="post-thumb mb-4">
								<a href="@Url.Action("Detail","UserBlog")">
									<img src="images/slider/slider3.jpg" alt="" class="img-fluid">
								</a>
							</div>
							<div class="slider-post-content">
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")">Trip to California</a></h3>
								<span class=" text-muted  text-capitalize">September 15, 2019</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="@Url.Action("Detail","UserBlog")">
									<img src="images/news/f1.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1">Explore</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")">The best place to explore to enjoy</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">June 15, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="@Url.Action("Detail","UserBlog")">
									<img src="images/news/f2.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Lifestyle</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")">How to Make list for travelling alone</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="@Url.Action("Detail","UserBlog")">
									<img src="images/news/f3.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">Food</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")l">5 ingredient cilantro vinaigrette</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="@Url.Action("Detail","UserBlog")">
									<img src="images/news/f4.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Explore</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")">A Simple Way to Feel Like Home When You Travel</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">March 20, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="@Url.Action("Detail","UserBlog")">
									<img src="images/news/f5.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")l">What Type of Traveller Are You?</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="@Url.Action("Detail","UserBlog")">
									<img src="images/news/f6.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Experience</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")">A Road Trip Review of the 2018</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">July 10, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="@Url.Action("Detail","UserBlog")">
									<img src="images/news/f7.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">music</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")">Portugal’s Sunset summer vission</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="@Url.Action("Detail","UserBlog")">
									<img src="images/news/f8.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">beauty</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")">The best soft Tropical Getaway</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">March 12, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="@Url.Action("Detail","UserBlog")">
									<img src="images/news/f9.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")l">Memoriable Paris Girls Trip </a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">April 19, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="@Url.Action("Detail","UserBlog")">
									<img src="images/news/f10.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Experience</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")">How to Plan your Trip the Right Way</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">February 15, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="@Url.Action("Detail","UserBlog")">
									<img src="images/news/f11.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")">8 Powerful Ways to Add Vibrant Colour to Your Life</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">August 15, 2019</span>
							</article>
						</div>
						<div class="col-lg-3 col-md-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="@Url.Action("Detail","UserBlog")">
									<img src="images/news/f12.jpg" alt="" class="img-fluid w-100">
								</a>
								<span class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">Lifestyle</span>
								<h3 class="post-title mt-1"><a href="@Url.Action("Detail","UserBlog")">The best to-do list to help boost your productivity</a></h3>
								<span class="text-muted letter-spacing text-uppercase font-sm">October 2, 2019</span>
							</article>
						</div>
					</div>
				</div>
				<div class="m-auto">
					<div class="pagination mt-5 pt-4">
						<ul class="list-inline ">
							<li class="list-inline-item"><a href="#" class="active">1</a></li>
							<li class="list-inline-item"><a href="#">2</a></li>
							<li class="list-inline-item"><a href="#">3</a></li>
							<li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="footer-2 section-padding gray-bg pb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="subscribe-footer text-center">
						<div class="form-group mb-0">
							<h2 class="mb-3">Subscribe Newsletter</h2>
							<p class="mb-4">Subscribe my Newsletter for new blog posts , tips and info.
							<p>
							<div class="form-group form-row align-items-center mb-0">
								<div class="col-sm-9">
									<input type="email" class="form-control" placeholder="Email Address">
								</div>
								<div class="col-sm-3">
									<a href="#" class="btn btn-dark ">Subscribe</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-btm mt-5 pt-4 border-top">
				<div class="row">
					<div class="col-lg-12">
						<ul class="list-inline footer-socials-2 text-center">
							<li class="list-inline-item"><a href="#">Privacy policy</a></li>
							<li class="list-inline-item"><a href="#">Support</a></li>
							<li class="list-inline-item"><a href="#">About</a></li>
							<li class="list-inline-item"><a href="#">Contact</a></li>
							<li class="list-inline-item"><a href="#">Terms</a></li>
							<li class="list-inline-item"><a href="#">Category</a></li>
						</ul>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="copyright text-center ">
							@@ copyright all reserved to <a href="https://themefisher.com/">themefisher.com</a>-2019
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<partial name="_javascript" />
</body>
</html>